name: CQ Workflow(pre-commit->test->mypy)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install lxml
        run: |
          sudo apt-get install libxml2-dev libxslt-dev
      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Cython
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
          pre-commit install
      - name: run pre-commit
        run: |
          pre-commit run --all-files
      - name: Install dependencies
        run: if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install project
        run: python setup.py install
      - name: Test with pytest
        run: |
          pytest -svv tests
      - name: mypy check
        run: |
          mypy pyastrx/
